<h1>Characters#index</h1>
<p>Find me in app/views/characters/index.html.erb</p>
	
<h1>Characters by Film</h1>

<% @characters_by_film.each do |film, characters| %>
  <h2><%= film %></h2>
  <ul>
    <% characters.each do |character| %>
      <li>
        <strong>Name:</strong> <%= character['name'] %><br>
        <strong>Mass:</strong> <%= character['mass'] %><br>
        <strong>Homeworld:</strong> <%= character['homeworld_name'] %>
      </li>
    <% end %>
  </ul>
<% end %>